@keyframes color-changer {
  0% {
    color: white;
  }
  50% {
    color: white;
  }
  100% {
    color: #DD5044;
  }
}

@keyframes backgroundTransform {
  0% {
    transform: translate3d(0, 5px, 5px);
  }
  25% {
    transform: translate3d(35px, 31px, 35px);
  }
  50% {
    transform: translate3d(40px, 40px, 45px);
  }
  75% {
    transform: translate3d(0, 31px, 35px);
  }
  100% {
    transform: translate3d(0, 5px, 5px);
  }
}