@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/v4-shims";

@font-face {
  font-family: 'Playfair Display';
  src: url('../webfonts/PlayfairDisplay-Regular.woff2') format('woff2'),
  url('../webfonts/PlayfairDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
}

$main-color: #17212b;
$white-color: #f5f5f5;
$blue-color: #708499;

.main {

  .container {
    width: 100%;
    position: relative;

    .animation-container {
      height: 100vh;
      position: relative;
      overflow: hidden;
      perspective: 400px;
      transform-style: preserve-3d;

      .animated_background {
        height: 100%;
        background-image: url("../img/blurred-1834820_1920.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        animation: backgroundTransform 40s infinite linear;
      }
    }

    .heading-container {
      position: absolute;
      top: 215px;
      left: 40%;
      transform: translate3d(0, 70px, 150px);
    }

    .transform2 {
      top: 240px;
      animation-delay: 2.5s;
    }

    .titles {
      color: white;
      font-size: 25px;
      font-family: 'Playfair Display', serif;
      text-shadow: 1px 1px 5px black;
    //  TODO: need to animate text-shadow in future
    }
  }
}